body{
    padding: 0;
    background-color: #777;
}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    display: flex;
    gap: 10px;
  }
  .gallery:hover {
    border: 1px solid #777;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
  