
.container{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(184,38,38,1) 48%, rgba(255,0,0,1) 100%);
padding-left: 10px;


}
.hero{
    width: 300px;
    padding: 50px;
    margin: 20px;
    border: solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
